In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is D01F-29B1

 Directory of C:\Users\CalvinCheung\Documents\DataBox\mygit\notebook\MBGM

08/06/2017  09:35    <DIR>          .
08/06/2017  09:35    <DIR>          ..
08/06/2017  09:35    <DIR>          .ipynb_checkpoints
08/06/2017  09:35                72 EDA.ipynb
27/04/2017  15:57            92,055 sample_submission.csv
27/04/2017  15:56         3,194,261 test.csv
27/04/2017  15:56         3,220,873 train.csv
               4 File(s)      6,507,261 bytes
               3 Dir(s)  376,273,186,816 bytes free

In [2]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv('train.csv')
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [6]:
test = pd.read_csv('test.csv')
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [7]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.head()

   ID           y
0   1  100.669318
1   2  100.669318
2   3  100.669318
3   4  100.669318
4   5  100.669318