# Create functions to determine daylight saving time in the United States

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('daylightsavingus.csv')
df = df.reset_index()
df

   index  Year     Start         End
0      0  2014   March 9  November 2
1      1  2015   March 8  November 1
2      2  2016  March 13  November 6
3      3  2017  March 12  November 5
4      4  2018  March 11  November 4
5      5  2019  March 10  November 3
6      6  2020   March 8  November 1

In [3]:
df['start'] = df['index'].apply(lambda x: '%s-3-%s' %(str(df.Year[x]), df.Start[x][6:]))
df['end'] = df['index'].apply(lambda x: '%s-11-%s' %(str(df.Year[x]), df.End[x][9:]))
df = df.drop(['index', 'Year', 'Start', 'End'], axis = 1)
df

       start        end
0   2014-3-9  2014-11-2
1   2015-3-8  2015-11-1
2  2016-3-13  2016-11-6
3  2017-3-12  2017-11-5
4  2018-3-11  2018-11-4
5  2019-3-10  2019-11-3
6   2020-3-8  2020-11-1

In [4]:
df['start_wd'] = pd.to_datetime(df.start).dt.weekday
df['end_wd'] = pd.to_datetime(df.end).dt.weekday
df

       start        end  start_wd  end_wd
0   2014-3-9  2014-11-2         6       6
1   2015-3-8  2015-11-1         6       6
2  2016-3-13  2016-11-6         6       6
3  2017-3-12  2017-11-5         6       6
4  2018-3-11  2018-11-4         6       6
5  2019-3-10  2019-11-3         6       6
6   2020-3-8  2020-11-1         6       6

> start on any sunday from 8th Mar to 14th Mar

> end on any sunday from 1st Nov to 7th Nov

In [11]:
def dls(year):
    # given year and return start and end date of daylight saving
    df = pd.DataFrame({'start': [pd.to_datetime('%d-3-%d'%(year, i)) for i in range(8, 15)],
                       'end': [pd.to_datetime('%d-11-%d'%(year, i)) for i in range(1, 8)]})
    df['s_wd'] = df.start.dt.weekday
    df['e_wd'] = df.end.dt.weekday
    return [str(df[df.s_wd == 6].start.tolist()[0].date()), str(df[df.e_wd == 6].end.tolist()[0].date())]

def isdls(date):
    # given a date and determine it is within daylight saving or not
    ds_zone = dls(pd.to_datetime(date).year)
    if (date >= ds_zone[0]) and (date < ds_zone[1]):
        return True
    else:
        return False

In [12]:
dls(2015)

['2015-03-08', '2015-11-01']

In [13]:
isdls('2014-11-03')

False