# Example to interpolate timeseries data

In [1]:
import datetime
import numpy as np
import calendar
import pandas as pd

## First, create a time series

In [2]:
t = [1349720105, 1349806505, 1349892905, 1349979305, 1350065705]
var = [12.08, 12.35, 12.15, 12.19, 12.15]

df = pd.DataFrame([t, var]).T
df.columns = ['time', 'var']
df = df.set_index('time')
df

                var
time
1.349720e+09  12.08
1.349807e+09  12.35
1.349893e+09  12.15
1.349979e+09  12.19
1.350066e+09  12.15

## Convertion between timestamp and epoch in pandas

In [3]:
df.index = pd.to_datetime(df.index,unit='s')
df

                       var
time
2012-10-08 18:15:05  12.08
2012-10-09 18:15:05  12.35
2012-10-10 18:15:05  12.15
2012-10-11 18:15:05  12.19
2012-10-12 18:15:05  12.15

In [4]:
#df.index = df.index.asi8//10**6
df.index = df.index.asi8
df

                       var
1349720105000000000  12.08
1349806505000000000  12.35
1349892905000000000  12.15
1349979305000000000  12.19
1350065705000000000  12.15

In [5]:
pd.to_datetime(df.index)

DatetimeIndex(['2012-10-08 18:15:05', '2012-10-09 18:15:05',
               '2012-10-10 18:15:05', '2012-10-11 18:15:05',
               '2012-10-12 18:15:05'],
              dtype='datetime64[ns]', freq=None)

# Interpolation using Numpy

In [6]:
# Create a series of time for interpolation
newtime = np.array(df.index)+10000000000000
newtime

array([1349730105000000000, 1349816505000000000, 1349902905000000000,
       1349989305000000000, 1350075705000000000], dtype=int64)

In [7]:
pd.to_datetime(newtime)

DatetimeIndex(['2012-10-08 21:01:45', '2012-10-09 21:01:45',
               '2012-10-10 21:01:45', '2012-10-11 21:01:45',
               '2012-10-12 21:01:45'],
              dtype='datetime64[ns]', freq=None)

In [8]:
np.interp(newtime, np.array(df.index), np.array(df['var']))

array([ 12.11125   ,  12.32685185,  12.15462963,  12.18537037,  12.15      ])