# Introduction to Forecasting with ARIMA in R

tutorial: https://www.datascience.com/blog/introduction-to-forecasting-with-arima-in-r-learn-data-science-tutorials

data: https://archive.ics.uci.edu/ml/datasets/Bike+Sharing+Dataset

This tutorial will provide a step-by-step guide for fitting an ARIMA model using R. ARIMA models are a popular and flexible class of forecasting model that utilize historical information to make predictions. This type of model is a basic forecasting technique that can be used as a foundation for more complex models. In this tutorial, we walk through an example of examining time series for demand at a bike-sharing service, fitting an ARIMA model, and creating a basic forecast.

R.Version()

In [2]:
getwd()

[1] "C:/Users/CalvinCheung/Documents/DataBox/WORKS/examples"

In [3]:
library('ggplot2')
library('forecast')
library('tseries')

In [4]:
daily_data = read.csv('Bike-Sharing-Dataset/day.csv', header=TRUE, stringsAsFactors=FALSE)

In [20]:
# show variable type, size
print(typeof(daily_data))
print(dim(daily_data))

[1] "list"
[1] 731  16

In [25]:
head(daily_data)
tail(daily_data)

  instant dteday     season yr mnth holiday weekday workingday weathersit
1 1       2011-01-01 1      0  1    0       6       0          2
2 2       2011-01-02 1      0  1    0       0       0          2
3 3       2011-01-03 1      0  1    0       1       1          1
4 4       2011-01-04 1      0  1    0       2       1          1
5 5       2011-01-05 1      0  1    0       3       1          1
6 6       2011-01-06 1      0  1    0       4       1          1
  temp     atemp    hum      windspeed casual registered cnt
1 0.344167 0.363625 0.805833 0.1604460 331     654        985
2 0.363478 0.353739 0.696087 0.2485390 131     670        801
3 0.196364 0.189405 0.437273 0.2483090 120    1229       1349
4 0.200000 0.212122 0.590435 0.1602960 108    1454       1562
5 0.226957 0.229270 0.436957 0.1869000  82    1518       1600
6 0.204348 0.233209 0.518261 0.0895652  88    1518       1606

    instant dteday     season yr mnth holiday weekday workingday weathersit
726 726     2012-12-26 1      1  12   0       3       1          3
727 727     2012-12-27 1      1  12   0       4       1          2
728 728     2012-12-28 1      1  12   0       5       1          2
729 729     2012-12-29 1      1  12   0       6       0          2
730 730     2012-12-30 1      1  12   0       0       0          1
731 731     2012-12-31 1      1  12   0       1       1          2
    temp     atemp    hum      windspeed casual registered cnt
726 0.243333 0.220333 0.823333 0.316546    9     432        441
727 0.254167 0.226642 0.652917 0.350133  247    1867       2114
728 0.253333 0.255046 0.590000 0.155471  644    2451       3095
729 0.253333 0.242400 0.752917 0.124383  159    1182       1341
730 0.255833 0.231700 0.483333 0.350754  364    1432       1796
731 0.215833 0.223487 0.577500 0.154846  439    2290       2729