# Scapping Daylight Saving data from https://www.timeanddate.com

In [126]:
import requests
import numpy as np
import pandas as pd
from bs4 import BeautifulSoup

yr = 2017
page = requests.get("https://www.timeanddate.com/time/dst/%d.html" %yr)
soup = BeautifulSoup(page.content, 'html.parser')

locations = ['United States', 'Australia', 'United Kingdom', 'Japan', 'Canada', 'New Zealand', 'Switzerland', 'Germany']

In [130]:
tablebody = soup.find("tbody")
countries = tablebody.find_all("tr")
dst = []
for i in range(len(countries)):
    try:
        if countries[i].find("a").get_text() in locations:
            if 'No DST' in countries[i].find_all("td")[1].get_text():
                item = [countries[i].find("a").get_text(), np.NaN, np.NaN]
            else:
                start = str(pd.to_datetime('%s %d'%(countries[i].find_all("td")[1].get_text()[8:], yr)).date())
                end = str(pd.to_datetime('%s %d'%(countries[i].find_all("td")[2].get_text()[8:], yr)).date())
                item = [countries[i].find("a").get_text(), start, end]
            dst.append(item)
    except:
        pass
    
df = pd.DataFrame(dst, columns = ['Country', 'DST_start', 'DST_end'])
df

          Country   DST_start     DST_end
0       Australia  2017-10-01  2017-04-02
1          Canada  2017-03-12  2017-11-05
2         Germany  2017-03-26  2017-10-29
3           Japan         NaN         NaN
4     New Zealand  2017-09-24  2017-04-02
5     Switzerland  2017-03-26  2017-10-29
6  United Kingdom  2017-03-26  2017-10-29
7   United States  2017-03-12  2017-11-05